@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --background-color: #ebebeb;
  --foreground-color: #0a192f;
  /* --background-color: #0a192f;
  --foreground-color: #64faff; */
  --transition-speed: 600ms;
  --navbar-width: 7rem;
  --navbar-height: 90vh;
  --content-padding: 4rem;
  --brand-size: 2rem;
  --icon-size: 1.4rem;
  --icon-stroke: 1.4px;
  --navbar-padding: 1rem;
  --item-height: 4rem;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
}

.navbar {
  position: fixed;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.nav-item {
  width: 100%;
}

.nav-link > svg {
  width: 3rem;
  stroke: var(--foreground-color);
  transition: stroke 0.25s ease-in-out;
}

.brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--item-height);
}

.brand-link > svg > g > text {
  fill: var(--foreground-color);
}

.brand {
  width: var(--brand-size);
}

.content > h1 {
  font-family: "Open Sans";
  font-weight: 600;
}

.content > p {
  font-family: "Open Sans";
  font-weight: 200;
}

@media only screen and (max-width: 1000px) {
  .content {
    margin: 0 auto;
    width: calc(100vw - 4.25rem);
    padding: 2rem;
    color: var(--foreground-color);
    text-align: center;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .navbar-nav {
    flex-direction: row;
    border-top: 1px solid var(--foreground-color);
  }

  .nav-item:first-child {
    display: none;
  }

  .nav-item {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav-link > svg {
    height: var(--icon-size);
    width: var(--icon-size);
    stroke-width: var(--icon-stroke);
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    margin-left: var(--navbar-width);
    padding: var(--content-padding);
    color: var(--foreground-color);
  }

  .navbar {
    width: var(--navbar-width);
    height: var(--navbar-height);
    top: calc(calc(100vh - var(--navbar-height)) / 2);
  }

  .navbar-nav {
    flex-direction: column;
    border-right: 1px solid var(--foreground-color);
  }

  .nav-item:first-child {
    padding-top: var(--navbar-padding);
  }

  .nav-item:nth-child(2) {
    margin-top: auto;
    stroke: white;
  }

  .nav-item > .nav-link:hover > svg {
    stroke: white;
  }

  .nav-item:last-child {
    margin-top: auto;
    padding-bottom: var(--navbar-padding);
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--item-height);
  }

  .nav-link > svg {
    height: var(--icon-size);
    width: var(--icon-size);
    stroke-width: var(--icon-stroke);
  }
}
