:root {
  font-size: 16px;
  font-family: "Open Sans";
  --background-color: #ebebeb;
  --foreground-color: #0a192f;
  /* --background-color: #0a192f;
  --foreground-color: #64faff; */
  --transition-speed: 600ms;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
}

main {
  margin-left: 5rem;
  padding: 1rem;
  color: var(--foreground-color);
}

.navbar {
  position: fixed;
  transition: width 50ms ease;
  left: 0;
  padding: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--foreground-color);
  text-decoration: none;
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    justify-content: center;
  }

  .brand {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    flex: 1;
    background-color: var(--background-color);
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar .navbar-nav {
    width: 100%;
  }
  .navbar-nav:before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 50%;
    bottom: 0;
    left: 50%;
    border-left: 1px solid var(--foreground-color);
    transform: translate(-50%, -50%);
    height: 50vh;
    opacity: 20%;
  }

  .brand > .nav-link > svg > g > text {
    fill: var(--foreground-color);
  }

  .nav-item:first-child {
    margin-top: 0;
  }
  .nav-item:nth-child(2) {
    margin-top: auto;
  }
  .nav-item:last-child {
    margin-top: auto;
  }
}
