@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --background-color: #ebebeb;
  --foreground-color: #0a192f;
  /* --background-color: #0a192f;
  --foreground-color: #64faff; */
  /* --transition-speed: 600ms; */
  --navbar-width: 4rem;
  /* --navbar-hover-expand: 1.2; */
  --navbar-height: 90vh;
  --navbar-padding: 1rem;
  --brand-size: 2rem;
  --icon-size: 1.4rem;
  --icon-stroke: 1.5px;
  --item-height: 4rem;
}

html {
  font-size: 14px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
}

.grid {
  display: grid;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--foreground-color);
  font-size: 2rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 150%;
  width: 100%;
  transition: all 200ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  transform: translateY(4px);
}

.navbar {
  position: fixed;
  z-index: 1;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.nav-item {
  width: 100%;
  border-radius: 8px;
}

.nav-link > svg {
  width: 3rem;
  stroke: var(--background-color);
}

.brand-link {
  display: flex;
  margin-left: 1.1rem;
  text-align: center;
}

.brand-link > svg > text {
  font-size: 1.5rem;
  font-weight: 700;
  fill: var(--background-color);
}

.brand {
  width: var(--brand-size);
}

.content > h1 {
  font-family: "Fira Code";
  font-weight: 600;
}

.content > p {
  font-family: "Fira Code";
  font-weight: 200;
}

@media only screen and (max-width: 1000px) {
  .content {
    margin: 0 auto;
    width: calc(100vw - 4.25rem);
    padding: 2rem;
    color: var(--foreground-color);
    text-align: center;
  }

  .navbar {
    bottom: 0;
    width: calc(100vw - 1rem);
    height: 5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-item:first-child {
    display: none;
  }
  .nav-item:nth-child(6),
  .nav-item:nth-child(5) {
    display: none;
  }

  .nav-item {
    background-color: var(--foreground-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 0rem;
  }

  .nav-item:hover {
    padding-bottom: 10px;
    color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .nav-item:nth-child(2) {
    border-top-left-radius: 3rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 0rem;
  }

  .nav-item:last-child {
    border-top-left-radius: 0rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 3rem;
  }

  .nav-link > svg {
    height: var(--icon-size);
    width: var(--icon-size);
    stroke-width: var(--icon-stroke);
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    margin: 0 auto;
    width: calc(100vw / 1.4);
    padding: 2rem;
    color: var(--foreground-color);
    text-align: center;
  }

  .navbar {
    width: var(--navbar-width);
    height: var(--navbar-height);
    top: calc(calc(100vh - var(--navbar-height)) / 2);
    background-color: var(--foreground-color);
    border-radius: 2rem;
    margin-left: 1.5rem;
  }

  .navbar-hover:hover {
    cursor: move;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item:first-child {
    padding-top: var(--navbar-padding);
  }

  .nav-item:nth-child(2) {
    margin-top: auto;
  }

  .dragging {
    opacity: 90%;
  }

  .nav-item:nth-last-child(3) {
    margin-top: auto;
  }

  .nav-item:last-child {
    padding-bottom: calc(var(--navbar-padding) * 2);
  }

  .nav-item:nth-child(5) > .active > svg {
    stroke: #64faff;
  }

  .nav-link {
    display: flex;
    margin: 0 auto;
    margin-top: 25%;
    margin-bottom: 25%;
    /* background-color: green; */
    justify-content: center;
  }

  .nav-item:nth-child(5) > .nav-link > svg:hover {
    cursor: pointer;
  }

  .nav-link > svg {
    height: var(--icon-size);
    width: var(--icon-size);
    stroke-width: var(--icon-stroke);
  }
}
